<div ng-controller="DemoCtrl" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak>
  <div class="dialog-demo-content" layout="row" layout-wrap
       layout-margin layout-align="center">
    <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
      Custom Dialog
    </md-button>
  </div>

  <script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog aria-label="Mango (Fruit)">
      <form ng-cloak>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Mango (Fruit)</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="img/icons/ic_close_24px.svg"
                       aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg"></md-icon>-->
          <md-icon md-svg-src="https://media.kavanu.co/appointmentTypes/1/48788ed2c4c044b49972fa0f69fda4ba.svg"></md-icon>
        </md-dialog-content>
      </form>
    </md-dialog>
  </script>
</div>
